html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
}

#game-container {
    width: 100%;
    height: 100%;
    outline: 1px solid black;
    outline-offset: -1px;
}

canvas {
    display: block;
}